div{
    text-align: center;
}



.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #b92854;
    border-color: #4026b4; /*set the color you want here*/
}